﻿<!-- ko with: home -->
<div class="jumbotron">
    <h1>Goliath National Bank</h1>
    <p class="lead">Please click on the following buttons</p>
</div>
<div class="row">
    <div class="col-xs-4">
        <form action="@Url.Action("GetRates", "Home")" method="get">
            <input type="hidden" name="token" value="1" />
            <button type="submit" class="btn">Get Rates</button>
        </form>
    </div>
    <div class="col-xs-4">
        <form action="@Url.Action("GetTransactions", "Home")" method="get">
            <input type="hidden" name="token" value="1" />
            <button type="submit" class="btn">Get Transactions</button>
        </form>
    </div>
    <div class="col-xs-4">
        <form action="@Url.Action("GetTransactionsBySku", "Home")" method="get">
            <input type="hidden" name="token" value="1" />
            <input type="text" name="sku" value="" />
            <button type="submit" class="btn">Get transactions by sku</button>
        </form>
        <input type="text" id="SKU" value="" />
    </div>
</div>
<div class="row">
    
</div>

<!-- /ko -->
